body {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#slide {
	text-align: center;
	width: 500px;
	overflow: hidden;
	position: relative;
	border-radius: 12px;
}

#list-img {
	display: flex;
	transform: translateX();
	transition: 0.5s;
}

.btn {
	position: absolute;
	font-size: 32px;
	color: #999;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.5s;
	cursor: pointer;
}

.btn:hover {
	color: #fff;
}

#left {
	left: 0;
	padding-left: 12px;
}

#right {
	right: 0;
	padding-right: 12px;
}

img {
	width: 100%;
}
